<div class="singleProduct">
  <div class="productBody">
    <div class="productView"></div>
    <div class="productDescription">
      <span class="text15 dark">Product Title</span>
      <span class="text12 green">Space for a small product description </span>
      <div class="price">
        <div class="productCost">
          <span class="currentPrice text18 dark">0.28 USD</span>
          <span class="prevPrice text12 hashed">48.56</span>
        </div>
        <div class="container-name">
          <span class="example_a">Buy now</span>
        </div>
      </div>
    </div>
  </div>
</div>
