<div class="singleProduct">
  <div class="productBody">
    <div class="productView"></div>
    <div class="productDescription">
      <span class="text15 dark">{{ product.title | Amr }}</span>
      <span class="text12 green">{{ product.description | Amr }} </span>
      <div class="price">
        <div class="productCost">
          <span class="currentPrice text18 dark">{{ product.price }} USD</span>
          <span class="prevPrice text12 hashed">{{ product.rating }}</span>
        </div>
        <div
          class="container-name"
          (click)="Payment('add')"
          *ngIf="!paymentFlag"
        >
          <span class="example_a">Buy now</span>
        </div>
        <div
          class="container-name"
          (click)="Payment('sub')"
          *ngIf="paymentFlag"
        >
          <span class="example_b">Remove</span>
        </div>
      </div>
    </div>
  </div>
</div>
