<div class="static-list">
  <ul>
    <li>
      <a href="#" class="text15Normal dark"
        >Bakery
        <img src="../../../../assets/img/Vectorss.png" alt="" srcset="" />
      </a>
    </li>
    <li>
      <a href="#" class="text15Normal dark"
        >Fruit and vegetables
        <img src="../../../../assets/img/Vectorss.png" alt="" srcset="" />
      </a>
    </li>
    <li>
      <a href="#" class="text15Normal dark"
        >Meat and fish
        <img src="../../../../assets/img/Vectorss.png" alt="" srcset="" />
      </a>
    </li>
    <li>
      <a href="#" class="text15Normal dark"
        >Drinks
        <img src="../../../../assets/img/Vectorss.png" alt="" srcset="" />
      </a>
    </li>
    <li>
      <a href="#" class="text15Normal dark"
        >Kitchen
        <img src="../../../../assets/img/Vectorss.png" alt="" srcset="" />
      </a>
    </li>
    <li>
      <a href="#" class="text15Normal dark"
        >Special nutrition
        <img src="../../../../assets/img/Vectorss.png" alt="" srcset="" />
      </a>
    </li>
    <li>
      <a href="#" class="text15Normal dark"
        >Baby
        <img src="../../../../assets/img/Vectorss.png" alt="" srcset="" />
      </a>
    </li>
    <li>
      <a href="#" class="text15Normal dark"
        >Pharmacy
        <img src="../../../../assets/img/Vectorss.png" alt="" srcset="" />
      </a>
    </li>
  </ul>
</div>
