<footer>
  <div class="footerCol">
    <span class="dark text18">Get in touch</span>
    <ul>
      <li class="text14 green">About Us</li>
      <li class="text14 green">Careers</li>
      <li class="text14 green">Press Releases</li>
      <li class="text14 green">Blog</li>
    </ul>
  </div>
  <div class="footerCol">
    <span class="dark text18">Connections</span>
    <ul>
      <li class="text14 green">Facebook</li>
      <li class="text14 green">Twitter</li>
      <li class="text14 green">Instagram</li>
      <li class="text14 green">Youtube</li>
      <li class="text14 green">LinkedIn</li>
    </ul>
  </div>
  <div class="footerCol">
    <span class="dark text18">Earnings</span>
    <ul>
      <li class="text14 green">Become an Affiliate</li>
      <li class="text14 green">Advertise your product</li>
      <li class="text14 green">Sell on Market</li>
    </ul>
  </div>
  <div class="footerCol">
    <span class="dark text18">Account</span>
    <ul>
      <li class="text14 green">Your account</li>
      <li class="text14 green">Returns Centre</li>
      <li class="text14 green">100 % purchase protection</li>
      <li class="text14 green">Chat with us</li>
      <li class="text14 green">Help</li>
    </ul>
  </div>
  <p class="text14">Copyright © 2020 petrbilek.com</p>
</footer>
