header {
  .Section1 {
    height: 48px;
    padding: 0 45px;
    border-bottom: 1px solid rgb(20, 20, 20, 0.05);
  }
  .Section2 {
    height: 100px;
    padding: 0 45px;
  }
  .Section3 {
    height: 50px;
    background-color: #f9f9f9;
    padding: 0px 45px 0px 31px;
  }
}
